---
title: contact
---

%section.main-headline.white-bg
  .container-fluid
    .row
      .col-md-7.no-pad.text-left.header-caps
        %h2.black.font2bold
          Get in Touch
        %h3.grey.font3
          Have an idea you want realized? Looking to improve the way you do business on the web?
          %span.highlight= link_to 'Email us.', '#contact'
      .col-md-5.no-pad.text-right

%section.common-content.white-bg.pad-top-half.pad-bottom-half
  .container

    #contact.row
      .col-md-4.text-left
        = image_tag 'lake-tahoe.png', class: 'img-responsive', style: 'width:100%; margin-bottom:15px;'
        %ul{ style: 'line-height:2em;' }
          %li.font2ultralight
            = image_tag 'icons/office.svg', style: 'width:14px; padding-right:3px; padding-bottom:3px;'
            Lake Tahoe, California
          %li.font2ultralight
            = image_tag 'icons/email.svg', style: 'width:14px; padding-right:3px; padding-bottom:3px;'
            = data.config.company_email
      .col-md-8.pad-left-half
        %h2{ style: 'margin-bottom:1em;' } Please complete the form
        = form_tag '', name: 'contact', id: 'contact_form', method: 'POST', 'data-netlify': true do
          .row{ style: 'margin-left:0;' }
            %input.form-control#name{ name: 'name', placeholder: 'Name', required: 'required', type: 'text' }
            %input.form-control#email{ name: 'email', placeholder: 'E-mail', required: 'required', type: 'email' }
            %input.form-control#phone{ name: 'phone', placeholder: 'Phone', type: 'text' }
            %textarea.form-control#message{ name: 'message', placeholder: 'Message', required: 'required', type: 'text' }
          .row{ style: 'margin-left:0;' }
            %button.btn.btn-nord.btn-nord-dark#send{ type: 'submit' } Send
